*{
  margin: 0%;
  padding: 0%; 
}
body{ 
  background: linear-gradient(to right, #e7bfec,#cc73f1,#69f0e9,#f772cd);
}

h1{
  font-size: 70px;
  text-align: center;
}
.cabecalho{
  background-color: #bb0d84b6;
  padding: 25px;
}
h2{
  text-align: center;
  font-size: 30px;
  color: #000000fa;
}